@use "../../styles/global.scss" as *;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
    color: var(--hover);
  }

  &:active {
    transform: scale(0.95);
  }
}

.errorCode {
  font-size: 8rem;
  color: #34495e;
  background: linear-gradient(to right, #0f8fee, #646cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 1;
  margin-bottom: 20px;
}

.errorMsg {
  font-size: 1.5rem;
  color: var(--text);
  font-weight: 300;
}
