.dropdown {
  position: relative;
  width: 120px;
}

.dropdownToggle {
  width: 100%;
  height: 45px;
  padding: 8px 12px;
  background: var(--secondary);
  border: 1px solid var(--accent);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  font-size: 1rem;

  &:hover {
    background-color: var(--hover);
    color: var(--hover-text);
    .arrow {
      stroke: var(--hover-text);
    }
  }
}

.arrow {
  width: 16px;
  height: 16px;
  stroke: var(--text);
  transition: transform 0.2s ease;
}

.open .arrow {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: var(--primary);
  border: 1px solid #9e9e9e;
  border-radius: 8px;
  margin-bottom: 4px;
  padding: 4px 0;
  list-style: none;
  z-index: 11;
}

.dropdownItem {
  padding: 8px 12px;
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &:hover {
    background-color: var(--hover);
    color: var(--hover-text);
  }
}
