@use "./variables.scss" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

body {
  min-height: 100%;
  font-family: $font-primary;
  font-size: $font-size-md;
  background-color: var(--primary);
  color: var(--text);
  transition: background-color $transition-normal, color $transition-normal;
}

#root {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

html[data-theme="light"] {
  --primary: #{$primary-light};
  --secondary: #{$secondary-light};
  --accent: #{$accent-light};
  --hover: #{$hover-light};
  --text: #{$text-light};
  --text-secondary: #{$text-secondary-light};
  --border: #{$border-light};
  --error: #{$error-light};
  --success: #{$success-light};
  --warning: #{$warning-light};
  --shadow: #{$shadow-light};
}

html[data-theme="dark"] {
  --primary: #{$primary-dark};
  --secondary: #{$secondary-dark};
  --accent: #{$accent-dark};
  --hover: #{$hover-dark};
  --text: #{$text-dark};
  --text-secondary: #{$text-secondary-dark};
  --border: #{$border-dark};
  --error: #{$error-dark};
  --success: #{$success-dark};
  --warning: #{$warning-dark};
  --shadow: #{$shadow-dark};
}
