@use "../../styles/variables" as *;

.cursor {
  position: relative;
  border-left: 3px solid;
  margin-left: -1px;
}

.cursorLabel {
  position: absolute;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  color: white;
  transform: translateY(-100%);
}

@each $name, $color in $userColors {
  .cursor-#{$name} {
    color: $color;
  }

  .selection-#{$name} {
    background-color: rgba($color, 0.4);
  }
}

.editorContainer {
  height: 100%;
}
