@use "../../styles/variables" as *;

.toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-lg;
  transition: all $transition-normal;

  &:hover {
    transform: rotate(15deg);
  }
}
