.usersList {
  ul {
    display: flex;
    flex-wrap: wrap;
    color: black;
  }

  .userItem {
    background-color: transparent;
    border-radius: 4px;
    padding: 3px 7px;
    margin: 5px;
    display: flex;
    align-items: center;
  }

  .adminStar {
    color: white;
    font-weight: bolder;
    margin-right: 5px;
  }

  .statusIndicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid black;
  }
}
